.placeholder::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  height: 230px;
}

.image {
  background-color: #d5d9e0;
  max-width: 100%;
  height: 50%;
}

.title {
  background-color: #d5d9e0;
  max-width: 80%;
  height: 12%;
}

.author {
  background-color: #d5d9e0;
  max-width: 60%;
  height: 8%;
}

.rating {
  background-color: #d5d9e0;
  max-width: 70%;
  height: 8%;
}

.price {
  background-color: #d5d9e0;
  max-width: 30%;
  height: 5%;
}
