.container {
  box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container > *:not(:last-child) {
  margin-bottom: 20px;
}

.container > h1 {
  font-weight: 800;
}

.container > p {
  width: 60%;
  overflow: hidden;
  /* Ref: https://stackoverflow.com/questions/36652580/how-to-add-three-dots-to-text-when-overflow-in-html */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.btn {
  color: #1c1d1f;
  text-decoration: none;
  background-color: transparent;
  padding: 9px 10px;
  border: 2px solid #000;
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7f9fa;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
