* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-duration: 0.5s;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
