.fixedNav {
  background-color: #1c1d1f;
  color: #fff;
  z-index: 1;
  box-shadow: 0px 0px 5px #000;
}

.courseHeader {
  background-color: #1c1d1f;
  color: #fff;
  z-index: -1;
}

.courseHeader h3 {
  font-weight: 700;
}

.score {
  font-size: 0.9em;
  font-weight: 900;
  color: #e9c185;
}

.rating i {
  color: #e9c185;
  font-size: 0.72em;
}

.reviews {
  color: #cec0fc;
  text-decoration: underline;
}

.rating,
.author,
.info,
.guarantee {
  font-size: 0.9em;
  font-weight: 500;
}

.breadcrumbItem > a {
  color: #cec0fc !important;
  text-decoration: none;
}

.author a {
  color: #cec0fc;
  font-weight: 300;
}

.addCartBtn {
  background-color: #8710d8;
  font-size: 1.1em;
  font-weight: 700;
}

.share > a {
  color: #fff;
  font-weight: 700;
}

.botNav {
  z-index: 3;
}

.botNavFiexd {
  top: 61px;
  width: 100%;
}

.botNavLink {
  transition: none !important;
}

.botNavLink a {
  color: #6a6f73;
  font-weight: 700;
  transition: none !important;
}

.botNavLink:hover {
  cursor: pointer;
  border-bottom: 2px solid #1c1d1f;
}

.botNavLink:hover a {
  color: #1c1d1f;
}
